/*
1. Загальні
2. Header
3. First section
4. Second section
5. Third section
6. Fourth section
7. Footer
8. Мodal Window
9. Mobal Menu
10. @media screen and (min-width: 768px) and (max-width: 1439px)
  10.1 Загальні
  10.2 Header
  10.3 First section
  10.4 Second section
  10.5 Third section
  10.6 Fourth section
  10.7 Footer
  10.8 Мodal Window
  10.9 Mobile menu
11. @media screen and (max-width: 767px)
  11.1 Загальні
  11.2 Header
  11.3 First section
  11.4 Second section
  11.5 Third section
  11.6 Fourth section
  11.7 Footer
  11.8 Мodal Window
  11.9 Mobile menu
*/

/*1. Загальні*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  display: block
}

h1, h2, h3, h4, h5, h6, p, div, li, ul {
  margin: 0;
  padding: 0;
}

.container { /*дефолтный клас*/
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

/*2. Header*/
.header-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: 332px;
}

.logo-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo_text {
  color: #2e2f42;
}

.nav-menu {
  display: flex;
  gap: 40px;
}

.nav-menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-menu-item:hover {
  color: #404bbf;
}

.nav-menu-item:focus {
  color: #404bbf;
}

.nav-menu-link {

  display: block;
  padding: 24px 0;
  color: #2E2F42;;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-link:hover {
  color: #404bbf;
}

.nav-menu-link::after {
  width: 100%;
  color: #404bbf;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #fff;
  border-radius: 2px;
}

.nav-menu-link:hover:after {
  background-color: #404bbf;
}

.contact-info {
  font-style: normal;
  margin: auto;
}

.contact-list {
  display: flex;
  gap: 40px;
}

.contact-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2E2F42;
}

.contact-link:hover {
  color: #404bbf;
}

.contact-item:focus {
  color: #404bbf;
}

.menu-button {
  border: none;
  background-color: #fff;
  display: none;
}


/*3. First section*/
.first-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
}

.first-section-container {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: auto;
}

.first-section-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: auto;
  font-size: 36px;
  max-width: 350px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-container {
  margin-top: 48px;
}

.first-section-button {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-section-button:hover {
  background-color: #404BBF;
}

.first-section-button:focus {
  background-color: #404BBF;
}

/*4. Second section*/
.second-section {
  padding: 120px 0;
}

.second-section-list {
  display: flex;
  gap: 24px;
}

.second-section-item {
  width: calc((100% - 72px) / 4);
}

.second_section-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #F4F4FD;;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.second-section-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.second-section-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}




/*5. Third section */
.third-section{
  padding: 120px 0;
  background-color: #F4F4FD;
}

.third-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.third_section_list {
  display: flex;
  gap: 24px;
}

.third-section-item {
  background-color: #FFFFFF;
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-section-item-content {
  padding: 32px 0;
}

.third-section-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.third-section-item-description {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.list-message {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-message {
  width: 40px;
  height: 40px;
}

.link-message {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-message:hover {
  background-color: #404bbf;
}

.link-message:focus {
  background-color: #404bbf;
}

.svg-message {
  fill: #f4f4fd;
}




/*6 Fourth section*/
.fourth_section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.fourth_section_head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.fourth_section_list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding-left: 0;
}


.fourth_section_list_item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth_section_list_item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin: 0;
}

.fourth_section_list_content {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.fourth_section_list_head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.fourth_section_list_description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.fourth_section_item_img {
  position: relative;
  overflow: hidden;
}

.fourth_section_item_img_description {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
}

.fourth_section_list_item:hover .fourth_section_item_img_description {
  transform: translateY(0%);
}




/*7 Footer*/
.footer_content {
  display: flex;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
}

.footer_texthead {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 16px;
  width: 208px;
}

.logo_footer {
  display: inline-block;
  margin-bottom: 16px;
}

.footer_logo_text {
  color: #f4f4fd;
}

.footer_description {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}

.footer_message_section {
  margin-left: 120px;
}

.footer_section_message {
  display: flex;
  gap: 16px;
}

.footer_subscribe {
  margin-left: 80px;
}

.footer_section_list_href {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer_section_list_href:hover {
  background-color: #31d0aa;
}

.footer_section_list_href:focus {
  background-color: #31d0aa;
}

.input_email {
  width: 264px;
  height: 40px;
  border: 1px #FFFFFF solid;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px; 
  color: #ffffff;
}

.input_email::placeholder {
  color: #FFFFFF;
}

.button_subscribe {
  min-width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
}

.form_subscribe {
  display: flex;
  gap: 24px;
}

.foter_section_svg{
  margin-left: 16px;
}




/*8. Мodal Window*/
.container_modal_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal_window_button_close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal_window_button_close:hover {
  background-color: #404bbf;
  border: none;
}

.modal_window_button_close:focus {
  background-color: #404bbf;
  border: none;
}

.modal_window_section_svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_window_button_close:focus .modal_window_section_svg {
  fill: #ffffff;
}

.modal_window_button_close:hover .modal_window_section_svg {
  fill: #ffffff;
}

.modal_window_head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2E2F42;
  margin-bottom: 16px;
}

.modal_window_form_div {
  margin-bottom: 8px
}

.modal_window_form_div_comment {
  margin-bottom: 16px;
}

.modal_window_form_div_label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.modal_window_form_div_div {
  position: relative;
}

.modal_window_form_div_div_input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
}

.modal_window_form_div_div_input:focus {
  border-color: #4D5AE5;
}


.modal_window_textarea:focus {
  border-color: #4D5AE5;
}

.modal_window_section_svg_form {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_window_form_div_div_input:hover ~ .modal_window_section_svg_form {
  fill: #4D5AE5;
}

.modal_window_form_div_div_input:focus ~ .modal_window_section_svg_form {
  fill: #4D5AE5;
}

.modal_window_textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: black;
}

.container_check_label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy_policy{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.container_check_input:checked ~ .container_check_label span {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.container_check_a {
  color: #4d5ae5;
  text-decoration: underline;
}

.form_button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

.modal_window_privacy_policy {
  margin-bottom: 24px;
}

.container_modal_window {
  display: block;
}




/*9. Mobal Menu*/

.conteiner_mobal_menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 322px;
  height: 100dvh;
  display: none;
  z-index: 999;
  background-color: #fff;
}

.nav_list_mobal_menu {
  padding-bottom: 128px;
  padding-top: 72px;
  padding-left: 16px;
}

.nav_list_item_mobal_menu {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav_list_item_mobal_menu:hover {
  color: #404bbf;
}

.nav_list_item_mobal_menu:focus {
  color: #404bbf;
}

.nav_list_item_href_mobal_menu {
  display: block;
  padding-bottom: 40px;
  color: #2E2F42;;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_list_item_href_mobal_menu:hover {
  color: #404bbf;
}

.nav_list_item_href_mobal_menu::after {
  width: 100%;
  color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts_mobal_menu {
  
  font-style: normal;
  padding-bottom: 20px;
  padding-left: 16px;
}

.contacts_list_mobal_menu {
  display: flex;
  flex-direction: column-reverse;
}

.contacts_item_mobal_menu {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 24px;
}

.contacts_item_href_mobal_menu{
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #2E2F42;
}

.contacts_item_href_mobal_menu:hover {
  color: #404bbf;
}

.contacts_item_mobal_menu:focus {
  color: #404bbf;
}

.hird_section_message_mobal_menu {
  width: 100%;
  padding-bottom: 40px;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.mobal_menu_button_close {
  float: right;
  margin-top: 24px;
  margin-right: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center; 
  justify-content: center;
  background-color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}










@media screen and (min-width: 768px) and (max-width: 1439px) {

  /*10.1 Загальні*/
  .container { /*дефолтный клас*/
    width: 768px;
    margin: auto;
    padding: 0 16px;
  }
  
  /*10.2 Header*/
  .logo-link {
    margin-right: 120px;
  }

  .main-nav {
    margin-right: 122px;
  }

  .nav-menu {
    display: flex;
  }

  .contact-info {
    display: flex;
    font-weight: 400;
    font-size: 12px;
  }

  .contact-list {
    display: block;
  }

  .contact-link {
    font-weight: 400;
    font-size: 12px;
  }
  
  .menu-button {
    display: none;
  }

  /*10.3 First section*/
  .first-section-container {
    padding: 112px 0;
  }

  .first-section-title {
    font-size: 36px;
    font-weight: 700;
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
  }

  .button-container {
    padding-top: 36px;
  }

  .first-section-button {
    margin: auto;
  }

  /*10.4 Second section*/  
  .second-section {
    padding: 96px 0 24px 0;
  }

  .second-section-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .second-section-item {
    width: calc((100% - 24px) / 2);
  }
  
  .second_section-icon {
    display: none;
  }
  
  .second-section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  
  .second-section-description {
    font-weight: 500;
    margin-bottom: 72px;
  }
  
  /*10.5 Third section */
  .third-section{
    padding: 96px 0 52px 0;
    background-color: #F4F4FD;
  }

  .third_section_list {
    margin: 40px 92px 0 92px;
    flex-wrap: wrap;
    flex-direction: row;

  }
  
  .third-section-item {
    flex-basis: calc((100% - 24px) / 2);
    margin-bottom: 48px;
    /*margin: 0 auto 72px auto; */
  }
  
  /*10.6 Fourth section*/
  .fourth_section_head {
    padding-top: 96px;
  }

  .fourth_section_list {
  }
  
  .fourth_section_list_item {
    width: calc((100% - 24px) / 2);
  }
  
  /*10.7 Footer*/  
  .footer_content {
    display: flex;
    flex-wrap: wrap;
    padding: 96px 108px;
  }

  .footer_text {
    width: 264px;
    margin-right: 24px;
  }

  .footer_message_section {
    width: 208px;
    margin-left: 0;
  }

  .footer_texthead {
    text-align: center;
  }

  .footer_section_message{
    margin: auto;
    width: 208px;
    display: flex;
  }

  .footer_subscribe {
    margin-top: 72px;
    margin-left: 0;
  }

  .input_email {
    width: 264px;
  }

  .button_subscribe {
    width: 165px;
    height: 40px;
    margin: auto;
  }

  /*10.8 Мodal Window*/
  .modal_window {
    width: 408px;
    padding-top: 72px;
    padding-bottom: 24px;
  }

  /*10.9 Mobile menu*/
  .conteiner_mobal_menu {
    display: none;
  }
}





@media screen and (max-width: 767px) {

    /*11.1 Загальні*/
  .container { /*дефолтный клас*/
    width: 320px;
    margin: auto;
    padding: 0 16px;
  }
  
  /*11.2 Header */

  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .logo-link {
    margin-right: 0;
  }

  .main-nav {
    margin-right: 149px;
  }

  .nav-menu {
    display: none;
  }

  .contact-info {
    display: none;
  }

  .contact-list {
    display: block; /**/
  }
  
  .menu-button {
    display: block;
  }

  /*11.3 First section*/
  .first-section-title {
    font-size: 36px;
    font-weight: 700;
    max-width: 160px;
    padding-top: 72px;
  }

  .button-container {
    padding: 72px 0;
  }

  .first-section-button {
    margin: auto;
  }

  /*11.4 Second section*/  
  .second-section {
    padding: 96px 0 24px 0;
  }

  .second-section-list {
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .second-section-item {
    width: 100%;
  }
  
  .second_section-icon {
    display: none;
  }
  
  .second-section-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }
  
  .second-section-description {
    font-weight: 500;
    margin-bottom: 72px;
  }
  
  /*11.5 Third section */
  .third-section{
    padding: 96px 0 52px 0;
    background-color: #F4F4FD;
  }

  .third_section_list {
    margin: 72px 12px 0 12px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .third-section-item {
    margin-bottom: 40px;
  }
  
  /*11.6 Fourth section*/
  .fourth_section {
    padding: 96px 0;
  }

  .fourth_section_head {
    padding-top: 96px;
  }
  
  .fourth_section_list_item {
    width: 100%;
  }
  
  /*11.7 Footer*/  
  .footer_content {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
  }

  .footer_text {
    width: 100%;
  }

  .logo_footer {
    width: 100%;
    text-align: center;
  }

  .footer_texthead {
    padding-top: 72px;
    width: 288px;
    text-align: center;
  }

  .footer_message_section {
    margin-left: 0;
  }

  .footer_section_message{
    margin: auto;
    width: 208px;
    display: flex;
  }

  .footer_subscribe {
    margin-left: 0;
  }

  .input_email {
    width: 100%;
  }
  .form_subscribe {
    display: flex;
    flex-direction: column;
  }

  .button_subscribe {
    width: 165px;
    height: 40px;
    margin: auto;
  }

  /*10.8 Мodal Window*/
  .modal_window {
    display: block;
    padding-top: 72px;
    padding-bottom: 24px;
    
  }
  
  /*11.9 Mobile menu*/
  .conteiner_mobal_menu {
    display: none;
  }

  .is-open {
    /*display: block;*/
  }
}